<%= form_with(model: vote) do |form| %>
  <% if vote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field form-group" align="center">
      
    <%= form.select :lga, [ "Kaduna South"], { prompt:"Select a Local Government." }, { class:'btn btn-dark btn-block dropdown-toggle d-flex p-2' } %>

  </div>
  <hr>

  <div class="field form-group" align="center">
    <div align="center" class="field form-group">
        
        <%= form.select :ward, [ "Badiko", "Barnawa","Kakuri-gwari","Kakuri-hausa", "Makera","Sabon Gari North","Sabon Gari South","Television","Tudun Nupawa","Tudun Wada North","Tudun Wada South","Tudun Wada West","Unguwan Sunusi"], { prompt:"Select a ward." }, { class:'btn btn-dark btn-block dropdown-toggle d-flex p-2' } %>
      </div>
  </div>
<hr>
  <div class="field form-group" align="center">
    <%= form.select :punit, ["020 GYESHERE ROAD 030 " , "
25 IMAM ROAD 021 " , "
29 DUTSINMA ROAD 024 " , "
44 MAIN GATE KADUNA 017 " , "
58 DAWAKI B/CLOSE 025 " , "
A 11 IBRAHIM TAIWO ROAD 008 " , "
A1 IGABI ROAD 021 " , "
A16 BADAMASI ROAD 025 " , "
A2 IBRAHIM TAIWO ROAD 007 " , "
AA. AFAKA ROAD " , "
AB 6 KAURA ROAD 027 " , "
AC 1 MATAZU ROAD I 018 " , "
ACI MATAZU ROAD II 034 " , "
AD 35 GANGARA ROAD 011 " , "
AD 42 MATAZU ROAD 010 " , "
AF 15 JAMA'A ROAD 010 " , "
AF 16 BIMA ROAD 014 " , "
AF 16 FUNTUA ROAD 028 " , "
AF 16 KERAWA ROAD 026 " , "
AF 17 YOLA ROAD 013 " , "
AF 37 FAKI ROAD 021 " , "
AF 40 DABAN ROAD 020 " , "
Afaka road II " , "
Afaka street fadan sarki " , "
AFUMU BAKERY BADIKO 026 " , "
AG 2 FASKARI ROAD 008 " , "
AG 2 FASKARI ROAD 014 " , "
AG 8 KAGOMA ROAD 018 " , "
AH 7 ATIKU AUWAL 008 " , "
AK 24 FAKI ROAD 028 " , "
AL 9 MAMMAN DAWAI 010 " , "
AL MANCHOCK ROAD 005 " , "
AM 2 RIBADO ROAD 021 " , "
AM 2 ROCK ROAD 037 " , "
AM 43 MANDO ROAD 013 " , "
AN 14 MASKA ROAD 033 " , "
AN 22 FAKI ROAD I 006 " , "
AN 22 FAKI ROAD II 007 " , "
AN GAMAGIRA ROAD 003 " , "
ANGOLA /G/ AVENUE " , "
AP. 26 NAIBI STREET 022 " , "
AQ 1 LEMU ROAD 030 " , "
AR 15 GERO ROAD 026 " , "
AR. 8 NEW BIDA ROAD 024 " , "
AREA 1. NO.256 ZARIA ROAD 041 " , "
AREA 4 KURMIN MASHI 037 " , "
AREA 5 ‐ 167 S/LINE K/MASHI 039 " , "
AREA COURT II 014 " , "
AREWA CINEMA " , "
AREWA TEXTILES ROAD 034 " , "
ARMY CHILDREN SCHOOL I 011 " , "
ARMY CHILDREN SCHOOL II 012 " , "
ARMY CHILDREN SCHOOL III 015 " , "
ARMY CHILDREN SCHOOL IV 016 " , "
AS 1 RIBADO ROAD 022 " , "
ASEKOLAYE I 030 " , "
ASEKOLAYE II 031 " , "
ASEKOLAYE III 007 " , "
ASIBITIN DUTSE " , "
ASIBITIN YARA 019 " , "
AT 1 GAMAGIRA ROAD 004 " , "
AT 16 MINNA ROAD 031 " , "
AT 21 JADA ROAD 020 " , "
AT5 RIBADO ROAD 023 " , "
Atililary barrack " , "
AW 10 FUNTUA ROAD 027 " , "
AX 16 KAJURU ROAD 018 " , "
AX 5 MINNA ROAD 032 " , "
B 38 DUTSINMA ROAD 023 " , "
B/GWARI RODA. D/HOUSE 018 " , "
B16 TUDUN ILU 004 " , "
B2 NEW BIDA ROAD 025 " , "
B24 IBRAHIM TAIWO ROAD 009 " , "
B24 TUDUN ILU 005 " , "
B3 FASKARI ROAD 031 " , "
B8 DOGON BAUCHI 027 " , "
BA 2 SALAU ROAD BADIKO 006 " , "
BA 8 LEMU ROAD 029 " , "
Badiko Code: 13 " , "
BARNAWA CLINIC " , "
BARNAWA CLINIC " , "
BB 12 YAN TUKWANE 028 " , "
BB24 PRP LINE 023 " , "
BB24 PRP LINE II 032 " , "
BC 1 AFAKA ROAD 019 " , "
BD 6 GURBABIYA ROAD 030 " , "
BE 19 MADAWAKI ROAD BADIKO 022 " , "
BE KATAF ROAD 031 " , "
BEHIND 2ND ECWA CHURCH 012 " , "
BIRNIN GWARI ROAD " , "
Birnin Gwari Road II ","
BJ 2 GURBABIYA ROAD 017 " , "
BJ 2 GURBABIYA ROAD 029 " , "
BL 7 ENUGU ROAD 045 " , "
BO 2 KABALA ROAD 022 " , "
BP 11 INDEPENDENCE ROAD 047 " , "
BQ 11 KAWO ROAD 046 " , "
BS 13 DUTSENMA STREET 016 " , "
BY 3 DUTSENMA STREET 015 " , "
C.18 TELEVISION ROAD 016 " , "
C.35 TELEVISION ROAD 015 " , "
C1 KWOI STREET 010 " , "
C1 MALUMFASHI ROAD I. 043 " , "
C1 MALUMFASHI ROAD II. 044 " , "
C24 SAULAWA ROAD 011 " , "
CC 42 SIRAJO ROAD 003 " , "
CC 60 SIRAJO ROAD 004 " , "
CC1 AKOTE ROAD 019 " , "
CD 9 MUSAWA ROAD I 008 " , "
CD 9 MUSAWA ROAD II 009 " , "
CE 1 KABALA ROAD 025 " , "
CE 16 MUSAWA ROAD 007 " , "
CG 2 ZANGO ROAD 006 " , "
CG 24 ZANGO ROAD 005 " , "
CHALAWA CRESCENT " , "
CHALAWA CRESCENT " , "
CW 2 KUBAU ROAD 002 " , "
D 15 KABALA ROAD 023 " , "
D.I.C. QUARTERS " , "
D3 AKOTE ROAD 017 " , "
DAN ALHAJI UNG. BARDE " , "
DANTATA HOUSE 032 " , "
DAURA S/LINE K/MASHI 042 ","
DAWAKIN BASA ROAD/ PAWA 020 " , "
DD 1 RING ROAD BY EXPRESS 012 " , "
DiC road by S/Zango Kakuri ","
Dic qtr by railway line " , "
DIC Quarters II " , "
DISTRICT HEAD OFFICE 001 " , "
DISTRICT HEAD OFFICE 002 " , "
DISTRICT HEAD OFFICE 013 " , "
DISTRICT HEAD OFFICE I. 003 " , "
DISTRICT HEAD OFFICE II. 004 " , "
DR 9 PRP LINE I 024 " , "
DR 9 PRP LINE II 025 " , "
DURIMIN JAMO " , "
E.45 HAUWASA ROAD 014 " , "
ECWA ENG. CHURCH 013 " , "
EX 17 KAGORO ROAD 015 " , "
F 15 PAWA/ KATAF ROAD 011 " , "
F/AYU STREET BARIMA 019 " , "
F1 BIMA ROAD 015 " , "
F1 GWARZO ROAD 017 " , "
F10 MALUMFASHI ROAD 042 " , "
F4 GULBI ROAD 017 " , "
F5 IRRA ROAD 040 " , "
FC 7 SOBA ROAD 006 " , "
FEDERAL HOUSING ESTATE " , "
FF3 DOGON BAUCHI 026 " , "
FG. IBRAHIM TAIWO ROAD 001 " , "
FIRE BRIGADE 001 " , "
FM 8 ALKALAWA ROAD 005 " , "
FN 8 KUMASHI ROAD 004 " , "
FQ 26 LAYIN KOSAI 008 " , "
FQ 8 ALKALAWA ROAD 009 " , "
FV 11 RICHIFA ROAD 003 " , "
FX 8 ALKALAWA ROAD 002 " , "
G 10 MAGAJI ROAD 008 " , "
G.D.S.S. BARNAWA " , "
G.D.S.S. BARNAWA " , "
G.D.S.S. MAIMUNA GWARZO 005 " , "
G.D.S.S. MAIMUNA GWARZO 006 " , "
G2 IBRAHIM TAIWO ROAD 015 " , "
G8 YAN TUKWANE 027 " , "
GA 22 MATAZU ROAD 019 " , "
GA 7 AMINU DANDAUDA 018 " , "
GALADIMAWA NEW EXTENSION " , "
GB 10 RICHIFA/BASIMA RD 009 " , "
GD 17 BASHAMA ROAD 001 " , "
GENERAL PUMP I/ GENERAL PUMP I 007 " , "
GENERAL PUMP II/ GENERAL PUMP II 008 " , "
GENERAL PUMP III/ GENERAL PUMP III 009 " , "
GH 1 FULANI ROAD 014 " , "
GH 3 LERE STREET 007 " , "
GH 9 FULANI ROAD 006 " , "
GIDAN MADAWAKI BADDE 034 " , "
GINDIN RIMI BADIKO 019 " , "
GM 10 HAUSAWA ROAD 035 " , "
GO 6 HAUSAWA ROAD 042 " , "
GOVT. COLLEGE KADUNA 018 " , "
GOVT. COLLEGE KADUNA I 020 " , "
GOVT. COLLEGE KADUNA II 021 " , "
GR. 4B SHANU ROAD I 029
GR. 4B SHANU ROAD II 030 " , "
GWAMNA ROAD KADUNA 023 " , "
H.16 MASHI ROAD 016 " , "
H.6 YOLA ROAD 011 " , "
H6 KAGOMA ROAD 012 " , "
HAMDALA HOTEL 033 " , "
HASSAN KATSINA ROAD 028 " , "
IBRAHIM TAIWO/ SOBA ROAD 012 " , "
IRRA ROAD/ FIRE BRIGADE 002 " , "
J.19 IRRA ROAD 041 " , "
J.25 JABA/ SHANDAM ROAD 008 " , "
JB.40 BAHAGO ROAD 010 " , "
K/MARKET A. MARKET 008 " , "
KABALA JUNCTION 003 " , "
KAKURI A/ RAIL 016 " , "
KAKURI EXTENSION I. 028 " , "
KAKURI NEW EXTENSION II 031 " , "
KAKURI ROAD B/ MEDICINE 017 " , "
KANDUTSE/ AREWA GATE 015 " , "
KASUWA KATAKO/ KASUWA KATAKO 001 " , "
KASUWA KATAKO/ KASUWA KATAKO 002 " , "
KASUWAR KOSAI 018 " , "
KH 6 SOBA ROAD 007 " , "
KINKINO I. 025 " , "
KINKINO II 026 " , "
KINKINO III 033 " , "
KOFAR AMINU " , "
KOFAR BALA MAI HULA " , "
KOFAR GIDAN MAI UNGUWA 009 " , "
KOFAR GIDAN SARKIN MAKERA " , "
KOFAR KAFINTA " , "
KR 24 MARKET ROAD 017 " , "
KR.76 IYAKA STREET 009 " , "
KV 12 KAJE ROAD 033 " , "
KV 121 IGABI ROAD 025 " , "
KV 126 BASHAMA ROAD 013 " , "
KV 143 BASHAMA 012 " , "
KV 158 KACHIYA ROAD 011 " , "
KV 181 IGABI ROAD 024 " , "
KV 21 MAKARFI ROAD 023 " , "
KV 34 SHETIMA ROAD 043 " , "
KV 8 SOBA STREET 026 " , "
KV 80 HAUSAWA ROAD 034 " , "
KV 96 FULANI ROAD 015 " , "
KW 12 ALKALAWA ROAD 011 " , "
KW 13 ALKALAWA ROAD 010 " , "
KW 8 KAKANDA ROAD 018 " , "
KW 9 KAKANDA ROAD 019 " , "
KW10 KUMASHI ROAD 027 " , "
Kwanan ashara II " , "
KX 41 LERE STREET 003 " , "
KX 48 HAUSAWA ROAD 002 " , "
KX 70 HAUSAWA ROAD 010 " , "
KX 80 HAUSAWA ROAD 004 " , "
KY 11 KAJE ROAD 044 " , "
KY 18 KAJE/ ZANGO ROAD 036 " , "
KY 2 KATAGUM/ SHETIMA ROAD 038 " , "
KY 2 SHETIMA ROAD 037 " , "
KY 20 KALTINGO ROAD 030 " , "
KY 4 IGABI ROAD 030 " , "
KY 5 BIMA ROAD 040 " , "
KY MASHI/ ZANGO ROAD 041 " , "
KZ 30 HAUSAWA ROAD 005 " , "
KZ 7A LERE STREET 008 " , "
L.E.A BADIKO I 001 " , "
L.E.A BADIKO II 002 " , "
L.E.A BADIKO III 003 " , "
L.E.A BADIKO IV 004 " , "
L.E.A BADIKO V 005 " , "
L.E.A CHAWAI ROAD I 001 " , "
L.E.A CHAWAI ROAD I 002 " , "
L.E.A kakuri gwari III A " , "
L.E.A kakuri gwari IV A " , "
L.E.A MAIMUNA GWARZO 003 " , "
L.E.A MAIMUNA GWARZO 004 " , "
L.E.A RAILWAY I/ L.E.A RAILWAY I 003 " , "
L.E.A RAILWAY II/ L.E.A RAILWAY II 004 " , "
L.E.A RAILWAY III/ L.E.A RAILWAY III 005 " , "
L.E.A. ALIYU MAKAMA I " , "
L.E.A. ALIYU MAKAMA II " , "
L.E.A. ALIYU MAKAMA III " , "
L.E.A. BABBAN DODO I " , "
L.E.A. BABBAN DODO II " , "
L.E.A. BABBAN DODO II " , "
L.E.A. BABBAN DODO III " , "
L.E.A. BABBAN DODO III " , "
L.E.A. BARNAWA I " , "
L.E.A. BARNAWA II " , "
L.E.A. BARNAWA III " , "
L.E.A. BARNAWA IV " , "
L.E.A. FAKI ROAD I. 012 " , "
L.E.A. FAKI ROAD II. 013 " , "
L.E.A. FAKI ROAD III. 014 " , "
L.E.A. KAGORO ROAD I. 026 " , "
L.E.A. KAGORO ROAD II. 027 " , "
L.E.A. KAGORO ROAD III. 028 " , "
L.E.A. KAKURI GWARI I " , "
L.E.A. KAKURI GWARI II " , "
L.E.A. KAKURI GWARI III " , "
L.E.A. KAKURI GWARI IV " , "
L.E.A. KAKURI GWARI IV " , "
L.E.A. KARGI ROAD I. 020 " , "
L.E.A. KARGI ROAD II. 021 " , "
L.E.A. KURMIN MASHI I 028 " , "
L.E.A. KURMIN MASHI II 029 " , "
L.E.A. KURMIN MASHI III 030 " , "
L.E.A. KURMIN MASHI IV 031 " , "
L.E.A. MOH. KABIR I 001 " , "
L.E.A. MOH. KABIR II 002 " , "
L.E.A. SAMARU STREET " , "
L.E.A. SHEIK GUMI I 029 " , "
L.E.A. SHEIK GUMI II 030 " , "
L.E.A. TUDUN NUWAPA 003 " , "
L.E.A. U/MAICHIBI AI./ L.E.A. UNG. MAICHIBI I. 001 " , "
L.E.A. U/MAICHIBI IV./ L.E.A U/MAICHIBI IV. 005 " , "
L.E.A. U/MAICHIBI VI./ L.E.A U/MAICHIBI V. 006 " , "
L.E.A. UNG. MU'AZU 018 " , "
L.E.A. UNG. MU'AZU 019 " , "
L.E.A. UNG. MU'AZU 023 " , "
L.E.A. UNG. MU'AZU II 'A' 031 " , "
L.E.A. UNG. MU'AZU II 'B' 032 " , "
LA 4 GWARZO ROAD 028 " , "
LAFIA ROAD MAKERA " , "
LEA U/MAICHIBI II 002 " , "
LEA U/MAICHIBI V 003 " , "
LEA U/MAICHIBI VI 004 " , "
LM 10 GWARZO ROAD 020 " , "
LO 3 GWARZO ROAD 026 " , "
LQ 11 TIV ROAD I. 021 " , "
LQ 11 TIV ROAD II 022 " , "
LQ 11 TIV ROAD III. 029 " , "
LT 5 KALTINGO ROAD 016 " , "
M61 IMAM ROAD 016 " , "
MAHUTA ROAD BUS STOP 010 " , "
Mammy market second gate " , "
MANCHOK/ FASKARI 009 " , "
MANI ROAD 029 " , "
MARKET ROAD BARNAWA I 009 " , "
MARKET ROAD BARNAWA II 011 " , "
MG 1 RING ROAD 004 " , "
Mobile barrack " , "
Mobile barracks " , "
Mobile barracks III " , "
MOBILE POLICE QTRS. FASKARI STREET 039 " , "
MONDAY CLINIC " , "
Monday clinic II " , "
MONDAY MARKET " , "
Monday market by Borehole " , "
MOTOR N PARK 019 " , "
MTN Mass Opp LEA K/Gwari " , "
N.D.A. I. 'A' 032 " , "
N.D.A. I. 'B' 033 " , "
N.D.A. II. 'A' 034 " , "
N.D.A. II. 'B' 035 " , "
N3 YOLA ROAD 012 " , "
NEAR TELEVISION MARKET 007 " , "
NN12 BATURE ROAD 022 " , "
NO. 6 MUHAMMED WULE 011 " , "
NO. MB10 FRNACE ROAD " , "
NO.1 FABSON CLOSE 008 " , "
NO.10 YOLA ROAD 010 " , "
NO.13 DANGANA ROAD 009 " , "
NO.13 ZANGO CLOSE 025 " , "
NO.136 D/BASSA ROAD 027 " , "
NO.15 KAGOMA ROAD 009 " , "
NO.16 RADA ROAD " , "
NO.16 ZAMBIYA ROAD " , "
NO.2 HEALTH CLINIC MAKERA " , "
NO.20 F/IKULU ROAD 022 " , "
NO.26 DEFENCE AVENUE 040 " , "
NO.27 ALH. MOH'D PASKARI ST. " , "
NO.28 ZANGO STREET MAKERA " , "
NO.28 ZANGO STREET MAKERA " , "
NO.29 GALADIMA STREET " , "
NO.29 GALADIMA STREET " , "
NO.3 BLK 15 N/STATE HOTEL MAKERA 021 " , "
NO.3 BLK 3 K/RD. MAKERA " , "
NO.3 KANFANGE STREET " , "
NO.31 KAMARU ROAD 011 " , "
NO.34 GASKIYA ROAD 013 " , "
NO.37 DABAN ROAD 015 " , "
NO.39 SARKI AVENUE K/MASHI 038 " , "
NO.4 EXPRESS BY AMANA 007 " , "
NO.5 BLK 14 K/RD. MAKERA " , "
NO.5 MU'AZU ROAD 020 " , "
NO.5/B 15 GAMBARAWA " , "
NO.50 SALLAU ROAD 007 " , "
NO.56 KATAGUN ROAD I. 031 " , "
NO.56 KATAGUN ROAD II 032 " , "
NO.6 BLK 26 GAMBARAWA " , "
NO.6 BLK 29 DURUMIN JAMO " , "
NO.6 DURUMIN JAMO STREET " , "
NO.6/69 UMARU DANLAJEST " , "
NO.68 GALADIMA STREET " , "
NO.7 BLK 14 MAKERA " , "
NO.7 KAGORO ROAD 016 " , "
NO.75 CHEDIYA RD/ NO.75 CHEDIYA RD 010 " , "
NO.8 GALADIMA STREET I " , "
NO.8 GALADIMA STREET II " , "
NO.8 KAFANGE STREET " , "
NO.8 UMARU DANLAJE " , "
NO.8/B/326 G/DUTSE " , "
NO.853 MAI RUWA ROAD " , "
NO.9 POPULAR HOTEL MAKERA/ NO.9 POPULAR HOTEL 034 " , "
NO.9 RADDA ROAD " , "
NO.9/10 RIBADO ROAD 020 " , "
NO.95 AKOTE ROAD 014 " , "
OLD VILLAGE HEAD OFFICE " , "
OLD VILLAGE HEAD OFFICE " , "
P 15A JAJI ROAD 027 " , "
P.12 FADAN AYU STREET 009 " , "
PAWA/DAWAKIN BASA JUNCTION 021 " , "
PBI IBRAHIM TAIWO ROAD 022 " , "
PC 10 MAKARFI ROAD 021 " , "
PG. 4 IBRAHIM TAIWO ROAD 020 " , "
PH 19 IGABI ROAD 029 " , "
PM 2 MAKARFI ROAD 016 " , "
POLICE QTRS. POLY ROAD 036 " , "
POLICE STATION T/ILU 006 " , "
POLY JUNIOR QUARTERS 049 " , "
POLY STAFF QUARTERS 048 " , "
PR 6 IGABI ROAD 017 " , "
PT 10 NUMAN ROAD 018 " , "
PT. 20 NUMAN ROAD 027 " , "
PW 10 SOBA STREET 028 " , "
Q4 GORA STREET 023 " , "
QUEEN AMINA GATE 011 " , "
R. GYESHERE ROAD 024 " , "
R.I. GWARI/ KAGORO ROAD/ R I GWARI/KAGORO ROAD 017 " , "
R1 TAFOKI ROAD 006 " , "
RADA ROAD " , "
RAHAMA CLOSE 016 " , "
RENDERVOUS HOTEL 005 " , "
RIGASA JUNCTION 029 " , "
RR6 KABALA WEST 013 " , "
Sabon Gari street by borehole ugw. Makama " , "
SARKI AVENUE 036 " , "
SHAGARI LOW COST " , "
SHAGARI LOW COST " , "
SHOPPING COMPLEX " , "
SHOPPING COMPLEX III./ SHOPPING COMPLEX 023 " , "
SHOPPING COMPLEX U I. " , "
SHOPPING COMPLEX U II. " , "
SIR KASHIM IBRAHIM HOUSE 013 " , "
SIR KASHIM IBRAHIM HOUSE 014 " , "
SM 5 KABALA WEST 010 " , "
SS 35 JIBIYA ROAD 025 " , "
TQ 8 ALKALAWA ROAD 031 " , "
TSOHUWAR KASUWA 012 " , "
TSOHUWAR KASUWA 013 " , "
UGANDA/GWARI ANENUE 028 " , "
Ugwan makama " , "
UNG. BATIA 002 " , "
UNG. JATAU 005 " , "
UNG. MISSION " , "
UNG. MISSION/ UNG. MISSION 006 " , "
UNGUWAN AUTA 001 " , "
UNGUWAN MAKAMA/ " , "
UNTL QUARTERS N/EXTENSION 035 " , "
V 12 FAKI ROAD 001 " , "
V.22 KWANAN ASHARA K1/ V.22 KWANAN ASHARA 011 " , "
V.22 KWANAN ASHARA K2/ V.22 KWANAN ASHARA 012 " , "
VILLAGE HEAD OFFICE 014 " , "
VILLAGE HEAD OFFICE I./ VILLAGE HEAD OFFICE 030 " , "
VILLAGE HEAD OFFICE II./ VILLAGE HEAD OFFICE 031 " , "
W 16 GANGARA ROAD 024 " , "
W 50 DUTSENMA STREET 023 " , "
W5 TANDAMA STREET 026 " , "
Y 25 KAGORO 017 " , "
Y.M.C.A 035 " , "
Y15 FADAN IKULU ROAD 032 " , "
Y24 GORA ROAD 033 " , "
Y3 RIGACHIKUN ROAD 012 " , "
Y58 CHARANCHI ROAD 022 " , "
Y60 MATAZU ROAD 019 " , "
YAN AWAKI MARKET 006 " , "
YAN GADO KAKURI MARKET 007 " , "
YP 33 KABALA ROAD 024 " , "
YY 1 ZUMA ROAD 024 " , "
ZAKARIYA HOTEL 024 " , "
ZAMANI HOTEL 015 " , "
ZC 20 ROCK ROAD 039 " , "
ZC 3 ROCK ROAD 038 " , "
ZK 1 ZAKI ROAD 014 " 
], { prompt:"Select a Polling Unit." }, { class:'btn btn-dark btn-block dropdown-toggle d-flex p-2' } %>
  </div>
<hr>
  <div class="field form-group" align="center">
     <%= form.number_field :totalreg, placeholder:'Total Registered Voters' %>
  </div>
<hr>
  <div class="field form-group" align="center">
    <%= form.number_field :validvotes, placeholder:'Valid Votes' %>
<hr>
  <div class="field form-group" align="center">
    <%= form.number_field :invalidvotes, placeholder:'Invalid Votes'  %>
  </div>
<hr>
  <div class="field form-group" align="center">
    <%= form.number_field :pdp, placeholder:'PDP' %>
  </div>
<hr>
  <div class="field form-group" align="center">
    <%= form.number_field :apc, placeholder:'APC' %>
  </div>
<hr>
  <div class="field form-group" align="center">
    <%= form.number_field :nnpp, placeholder:'NNPP' %>
  </div>
<hr>
  <div class="field form-group" align="center">
    <%= form.number_field :lp, placeholder:'LP' %>
  </div>
<hr>
  <div class="field form-group" align="center">

    <%= form.number_field :prp, placeholder:'PRP' %>
  </div>
<hr>
  <div class="field form-group" align="center">

    <%= form.number_field :others, placeholder:'others' %>
  </div>
  <hr>
  

  <div>
    <%= form.label :pic, style: "display: block" %>
    <%= form.file_field :pic %>
  </div>

  
  <div>
    <%= form.submit %>
  </div>
<% end %>
